d\business_entity_resolution/data/
d\business_entity_resolution/output/
d\business_entity_resolution/models/
d\business_entity_resolution/*.egg-info/
d\business_entity_resolution/.mypy_cache/
d\business_entity_resolution/.ruff_cache/
d\business_entity_resolution/.pytest_cache/
d\business_entity_resolution/__pycache__/
d\business_entity_resolution/**/__pycache__/
d\business_entity_resolution/**/*.pyc
d\business_entity_resolution/**/*.pyo
*.tsv
!tests/fixtures/**/*.tsv
*.parquet
*.pkl
*.joblib
*.zip
*.log
dist/
build/
.venv/
venv/

dataset/test/*.tsv
dataset/train/*.tsv
.env



