data/
output/
models/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
*.db
*.tsv
!tests/fixtures/**/*.tsv
*.parquet
*.pkl
*.joblib
*.zip
*.log
dist/
build/
.venv/
venv/


dataset/test/*.tsv
dataset/train/*.tsv

.vscode
.kilo
.env
